@model MoveInn.BAL.Models.UserLogin

@{
    Layout = "~/Views/Shared/_LayoutContainer/_LayoutContainer.cshtml";
    ViewBag.Title = "Log On";
    //ViewBag.ReturnUrl = Request["ReturnUrl"];
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div>
        <div class="container">
            <div class="ems-header-bar  centered">
                <div class="header content clearfix">
                    <div class="logo logo-w" aria-label="Google"></div>
                </div>
            </div>
            <div class="banner">
                <h1>
                    ICRON - Knowledge Management System
                </h1>
                <h2 class="hidden-small">
                    
                </h2>
            </div>
            <div class="card card-container">
                <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
                <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
                <p id="profile-name" class="profile-name-card"></p>
                @using (Html.BeginForm("Login", "Account", new { returnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-signin"}))
                {
                    @Html.AntiForgeryToken()
                    
                    <span id="reauth-email" class="reauth-email"></span>
                    <input name='@Html.NameFor(x => x.Email)' value='@Model.Email' type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                    <input name='@Html.NameFor(x => x.Password)' value='@Model.Password' type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                    <div id="remember" class="checkbox">
                        <label>
                            <input name='@Html.NameFor(x => x.RememberMe)' value='@Model.RememberMe' type="checkbox"> Remember me
                        </label>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
                }
                @*<form class="form-signin" method="post">
        <span id="reauth-email" class="reauth-email"></span>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <div id="remember" class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
    </form><!-- /form -->*@
                <a href="#" class="forgot-password">
                    Forgot the password?
                </a>
            </div><!-- /card-container -->
        </div>

    </div>
</body>
</html>
